<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="RulesPath" value="Rules"/>
    <add key="ExternalEditorPath" value="C:\Program Files (x86)\Notepad++\notepad++.exe"/>
    <add key="ExternalEditorParameters" value="&quot;%FileName%&quot; -n%LineNumber% -c%ColumnNumber%"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
